@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* Test style to verify CSS loading */
.site-header {
  border-bottom: 3px solid #12A212;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@keyframes wave-1 {
  0% {
    transform: translateX(-100%);
  }
  50%, 100% {
    transform: translateX(100%);
  }
}

@keyframes wave-2 {
  0% {
    transform: translateX(-100%);
  }
  60%, 100% {
    transform: translateX(100%);
  }
}

@keyframes wave-3 {
  0% {
    transform: translateX(-100%);
  }
  70%, 100% {
    transform: translateX(100%);
  }
}

.animate-wave-1 {
  animation: wave-1 3s infinite;
}

.animate-wave-2 {
  animation: wave-2 3s infinite;
}

.animate-wave-3 {
  animation: wave-3 3s infinite;
}
